.card-flip {
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  .card-flip.go-flip .flip {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .card-flip,
  .card-front,
  .card-back {
    width: 100%;
    height: 150px;
  }
  
  .flip {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
  }
  
  .card-front,
  .card-back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .card-front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  
  .card-back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  