<div id="homepage">
  <div id="login">
    <input v-model="username" class="form-control" placeholder="Your Name" />
    <p>{{ username }}</p>
    <button v-on:click="login" class="btn btn-primary btn-block">Log In</button>
  </div>
  <div id="users">
    <ul id="example-1">
      <li v-for="user in users">
        {{ user.name }}
      </li>
    </ul>
  </div>
</div>