<div id="sonar">
    <div class="sonar-wrapper">
        <div v-for="(item, index) in values" class="sonar">
            {{ item }}
        </div>
        <div class="willy-image"></div>
    </div>
</div>